<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrador</title>
</head>
<body>
  <%- include('navbar') %>
  <h1>Panel de administración</h1>
  <a href="/products/new">Nuevo Producto</a>
  <a href="/products/update">Actualizar Producto</a>
</body>
</html>
