<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
</head>
<body>
  <%- include('navbar') %>
  <h1>Bienvenido a la tienda</h1>
  <a href="/products">Ver productos</a>
  <% if (!user) { %>
    <a href="/login">Iniciar sesión</a>
    <a href="/register">Registrar</a>
  <% } else { %>
    <a href="/cart">Ver Carrito</a>
    <a href="/premium">Acceder a Premium</a>
  <% } %>
</body>
</html>
